body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 10px;
  text-align: center;
  padding-bottom: 25px;
}

section {
  max-width: 800px;
  margin: auto;
}
.menuElement {
  margin: 10px;
}

header {
  display: flex;
  align-items: center;
  /* background-color: #0095ff; */
  padding-bottom: 5px;
  border-bottom: #0095ff 2px solid;
}
#logo {
  margin-right: auto;
}
h1 {
  margin-right: auto;
}
#startDesc p:not(:last-child) {
  /* background-color: rgb(216, 216, 199); */
  background-color: #a4abbd;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}

.custom-button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.custom-button:hover,
.custom-button:focus {
  background-color: #07c;
}

.custom-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.custom-button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: lightgray;
  border-top: #0064bd 1px solid;
  color: white;
  text-align: center;
}

#countdownModal {
  opacity: 0.5;
  background-color: gray;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
}

#countdownNumber {
  font-size: 150px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  animation: fade-in-out 1s linear infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%), scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%), scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%), scale(0.8);
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
  top: -10px;
}

.tooltip-icon {
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  text-align: center;
  padding: 8px 10px 8px 10px;
  border-radius: 4px;
  font-size: 12px;
  width: 200px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
